@{
    ViewData["Title"] = "Authentication Error";
}

<div class="text-center">
    <h1 class="display-4">Authentication Error</h1>
    <p>@ViewBag.ErrorMessage</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a> @*Return to home is showing an error (404)*@
</div>