@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-container">
        <div class="login-form">
            <h2 class="text-center">Login</h2>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="form-group text-center">
                    <button type="submit" name="provider" value="Google" class="btn btn-google btn-block">
                        <img src="~/images/google-icon.png" alt="Google Icon" class="google-icon" />
                        Login with Google
                    </button>
                </div>
                <hr />
                <div class="form-group text-center">
                    Don't have an account? <a href="mailto:sbongagezzy0630@gmail.com" class="text-muted">Contact IT Support</a>
                </div>
            </form>
        </div>
    </div>
</div>